<!--登录窗口-->
<editable-field loginform-visible="vm.loginformVisible" login="vm.login()"></editable-field>
<!--菜单-->
<div class="top-body"style="background-color: lightgray">
    <div class="top-content" style="background-color: #f66495">
        <div class="top-menu">
            <ul>
                <li>
                    <div class="top-li">
                        <a href title="个人信息" ng-click="vm.myinfo()"><i class="fa fa-user-circle"></i></a>
                    </div>
                </li>
                <li>
                    <div class="top-li">
                        <a ng-click="vm.gorecent()" title="最近通讯"><i id="default" class="fa fa-comments" ng-class="{currenttopbar:vm.state.includes('conversation')}"></i></a>
                        <div class="truenum" ng-hide="vm.truenum === 0 || !vm.truenum">{{vm.truenum | numFilter}}</div>
                    </div>
                </li>
                <li>
                    <div class="top-li">
                        <a ng-click="vm.gobuddy()" title="好友列表"><i class="fa fa-user-plus" ng-class="{currenttopbar:vm.state.includes('buddy')}"></i></a>
                    </div>
                </li>
                <li>
                    <div class="top-li">
                        <a ng-click="vm.gogroup()" title="群组列表"><i class="fa fa-users" ng-class="{currenttopbar:vm.state.includes('group')}"></i></a>
                    </div>
                </li>
            </ul>

        </div>
        <!--main view-->
        <div ui-view="main" class="top-main"></div>
    </div>
</div>
