<div style="height: 80px"></div>
<table align="center" width="55%"style="margin-bottom: 100px">
    <tr>
        <td>
            <div>
                <div  style=" padding-top: 10px;  width: 25%;height:500px;float:left;background-color: #E0E0E0  ;" >
                    <!--ng-click="imgcard()"-->
                    <img ng-src={{avatar}} style="width:20px;height:20px;float: left;margin-left: 10px;" data-toggle="modal"  ng-click="open('sm')">
                    <!--<img ng-src={{avatar}} style="width:20px;height:20px;float: left;margin-left: 10px;" data-toggle="modal"  data-target="#infoModal">-->
                    <div style="float: left;margin-left: 5px;" ng-repeat="barArray in barArrays"  >
                        <img ng-src={{barArray.avatar}} style="width:20px;height:20px;" ng-click="getFriendOrGroupList($index,barArray.type)">
                    </div>
                    <img ng-src="img/set.png" style="width:20px;height:20px;padding-left: 3px">
                    <!--<img ng-src={{avatar}} style="width:40px;height:40px;padding-left: 3px">
                    <input  type="text" size="6"  ng-model="user"  ng-disabled="!edit" class="edit" >-->

                    <ul  class="nav nav-pills nav-stacked" style="padding-top: 10px;height: 385px;overflow-y:scroll; " >
                        <li ng-repeat="friend in friends" ng-class="bg[$index]" ng-click="isCurrent($index)">
                            <a href="http://localhost:63342/model/index.html#/chat"  ng-click="setToName(friend.name)" style="text-align: left">
                                <img ng-src={{friend.avatar}} style="width:20px;height:20px;padding-left: 3px">
                                {{friend.name}}<span class="badge pull-right">{{countArray[friend.name]}}</span>
                            </a>
                        </li>
                        <li ng-class="bg['聊天室']" ng-click="isCurrent('聊天室')">
                            <a href="http://localhost:63342/model/index.html#/chat"  ng-click="setToName('聊天室')" style="text-align: left">
                                <img ng-src="img/0.png" style="width:20px;height:20px;padding-left: 3px">
                                <span>聊天室</span><span class="badge pull-right">{{countArray['聊天室']}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div style=" width: 75%; height:500px;float:left;background-color: #F5F5F5; ">
                    <div>
                        <input  type="text" size="10" ng-disabled="!edit" ng-model="toname"  class="edit" style="padding-top: 10px;font-size: 18px">
                    </div>
                    <div style="padding-top: 10px;" align="center">
                        <ul id="message_ul" class="m-message">
                            <li class="messageli" ng-repeat="message in messages">
                                    <p class="time"><span>{{message.time}}</span></p>
                                <div class="{{message.messagetype}}">
                                        <img ng-src="{{message.avatar}}" class="avatar" height="30" width="30">
                                    <div class="backend">
                                        <div class="nametext">{{message.name}}</div>
                                        <div class="{{message.boxtype}}">{{message.content}}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div >
                        <textarea  rows="4" ng-model="s_content"  class="textarea"  style= " width: 98%; resize:none; " ></textarea>
                    </div>
                    <div style="padding-top: 10px;padding-right: 10px;">
                        <button  type="button" id="btn_send" ng-click="sendContent()" style="float: right;" >发送</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>









